{% extends "base_generic.html" %}

{% block content %}
    <div id="admin_progress">
        <div class="progress_header">
            <h1>Data Analytics</h1>
        </div>
        <div class="choose_site">
            <ul style="list-style: none; display: block;">
                <li style="justify-content: center;">
                    <form action="" method="POST" class="myForm">
                        {% csrf_token %}
                        <!-- {{ form.as_ul }} -->
                        
                        <h4>Select site:</h4>
                            {{ form.select_site }}
                        <h4>Select patient group:</h4>
                            {{ form.select_patient }}
                        <h4>Select data type:</h4>
                            <select name = "dropdown" id="select_dataType" >
                                <option value = "Pain Score" class="dropdown" >Pain Score</option>
                                <option value = "Heart Rate" class="dropdown" >Heart Rate</option>
                                <option value = "Blood Pressure" class="dropdown">Blood Pressure</option>
                                <option value = "Respiration Rate" class="dropdown">Respiration Rate</option>
                                <option value = "Oxygen Saturation" class="dropdown">Oxygen Saturation</option>
                                <option value = "All Data" class="dropdown">All Data</option>
                            </select>

                            
                            <br>
                            <button type="submit" class="see-results">See Results</button>
                    </form>
                </li>
            </ul>
            
        </div>
        <div class="graph_links">
        </div>
        <div class="combined_data_link">
        </div>
        <div class="progress_footer">
            <ul class="nav">
                <input type="button" value = "Add new data" onclick="location.href=`{% url 'Survey_Instance_Create' %}`"/>
                <input type="button" value = "Export data" onclick="location.href=`{% url 'export' %}`"/>
                <input type="button" value = "Export chat data" onclick="location.href=`{% url 'exportChat' %}`"/>
                <input type="button" value = "Back to main" onclick="location.href=`staffLandingPage`"/>
            </ul>
        </div>
        <!-- <script>
            const myForm = document.querySelector(".myForm");
            // const selectSite = document.querySelector("#select_site");
            // const selectPatient = document.querySelector("#select_patient");
            

            // const siteVal = selectSite.value;
            // const patientVal = selectPatient.value;
            

            myForm.addEventListener('submit', function(event) {
                var patientID = document.getElementById("id_select_patient").val;
                console.log(patientID);
                
                const selectDataType = document.getElementById("select_dataType");
                const dataVal = selectDataType.value;

                event.preventDefault();
                // find site num + patient type + data type combination

                //when we add other site support this will need to be updated
                console.log(dataVal)
                    switch (dataVal) {
                        case "Pain Score":
                            window.location.href="adminPainScoreProgressView";
                            break;
                        case "Heart Rate":
                            window.location.href="adminHearRateProgressView";
                            break;
                        case "Blood Pressure":
                            window.location.href="adminBloodPressureProgressView";
                            break;
                        case "Oxygen Saturation":
                            window.location.href="adminO2SaturationProgressView";
                            break;
                        case "Respiration Rate":
                            window.location.href="adminResperationRateProgressView";
                            break;
                        case "Mood":
                            window.location.href="adminProgressPreviewPage";
                            break;
                        case "All Data":
                            window.location.href="adminProgressPreviewPage";
                            break;
                        default:
                            window.location.href="adminProgressPreviewPage";
                            break;
                    
                }
            })

        </script> -->
    </div>
{% endblock %}