{% extends "base_generic.html" %}

{% block content %}
    <div id="data_preview">
        <div class="headspace">

        </div>
        <div class="prev_header">
            <h1>Data Preview:</h1>
        </div>
        <div class="graph">
            <ul>
                <li>Average change {{ averageChange }}</li>
                <li>Max postive change {{ maxPostiveChange }}</li>
                <li>Minimum change {{ minChange }}</li>
            </ul>
        </div>
        <div class="progress_footer">
            <ul class="nav">
                <li><a href="surveyInputPage">Add new data</a></li>
                <li><a href="adminProgressPage">Back to Progress View</a></li>
            </ul>
        </div>
    </div>
{% endblock %}