{% extends "base_generic.html" %}

{% block content %}
    <div id="admin">
        <div class="headspace">
        </div>
        <div class="a_header">
            <h1>Welcome, {{ user.get_username }}</h1>
            <h3>Choose your task:</h3>
        </div>
        <div class="a_buttons">
            <ul class="nav">
                <li><a href="SurveyInstance/create">Input data</a></li>
                <li><a href="adminProgressPage">Review Progress</a></li>
            </ul>
        </div>
        <div class="a_footer">
            <a class="logout" href="{% url 'logout'%}">LogOut</a>
        </div>
    </div>
{% endblock %}
