:root {
    /* Colors */
    --accent-grey-01: #969595;
    --accent-grey-02: #CDCCCC;
    --accent-blue-01: #396378;
    --accent-blue-02: #C5DEEB;
    --accent-blue-03: #DAE9F0;
    --accent-blue-04: #859BA7;
    --accent-blue-05: #5C6D76;
    --accent-blue-06: #678391;
    --accent-green: #9CFFAA;
    --accent-red: #FF5757;
}


body{
    margin:0;
    padding:0;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

ul li a {
    text-decoration: none;
    border:3px solid var(white);
    border-radius:50em;
    color: white;
    padding: 10px 10px;
    margin: 4px 4px;
    font-weight: none;
    font-size: 20px;
    background-color: var(--accent-blue-02);
}

a {
    text-decoration: none;
    border:3px solid white;
    border-radius:50em;
    color: white;
    background-color: black;
    padding:4px 39px;
    margin: 4px 4px;
    font-weight: none;
    font-size: 18px;
}

table {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: none;
    font-size: 22px;
}
td #us {
    font-size: 22px;
    padding: 4px 4px;
}

.nav {
    list-style:none;
    padding: 0px;
    display:flex;
    justify-content: center;
}

::placeholder {
    color: #465259;
}

#loggedOut {
    background-color: var(--accent-grey-02);
    height: 100vh;
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    ;
    grid-template-rows: 
    1fr
    100px
    100px
    1fr
    ;
    grid-template-areas: 
    ". . ."
    "heading heading heading"
    ". logInAgain ."
    ". . ."
    ;
}
#loggedOut h1{
    grid-area: heading;
    text-align: center;
    color: var(--accent-blue-01);
}
#loggedOut a {
    grid-area: logInAgain;
    text-align: center;
    display: inline-block;
    border:3px solid var(white);
    border-radius:50em;
    color: white;
    padding: 18px 10px;
    margin: 10px 4px;
    font-weight: none;
    font-size: 20px;
    background-color: var(--accent-blue-06);
}


/**********************/
/**** Log in page ****/
/********************/
#login_wrap {
    background-color: var(--accent-grey-01);
    height:100vh;
    display:grid;
    grid-template-columns:
        1fr 
        357px
        357px
        1fr
    ;
    grid-gap: 0px;
    grid-template-rows:
        160px
        170px
        253px
        1fr
        100px
    ;
    grid-template-areas: 
        ". . header ."
        ". title title ."
        ". login_box login_box ."
        "blank_space blank_space blank_space blank_space"
        "footer footer footer footer"

    ;
}
.header {
    grid-area: header;
    background-color: var(--accent-grey-01);
}
.header .logo {
    width:100px;
    padding-left: 160px;
    align-items: center;
}
.title {
    grid-area: title;
    text-align: center;
    color: white;
    font-weight: normal;
}
.title h1 {
    font-weight: normal;
    font-size: 40px;
}
.login_box {
    grid-area: login_box;
    background-color: var(--accent-grey-02);
    border:3px solid white;
    border-radius: 3em;
    color: black;
    margin: 0px 0px;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}
/* .login_box form {
    height: 47px;
    align-items: center;
    color: black;
    background-color: var(--accent-blue-03);
    border:none;
    margin-bottom: 23px;
    font-size: 20px;
} */

.login_box h2 {
    margin-top: 0px;
    margin-bottom: 23px;
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
}
.login_box .nav {
    list-style:none;
    display:flex;
    justify-content: center;
}
.login_box .nav a, .login_box input[type=submit] {
    text-decoration: none;
    border:3px solid white;
    border-radius:50em;
    color: white;
    background-color: black;
    padding:4px 39px;
    margin: 4px 4px;
    font-weight: none;
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}
.login_box input[type=submit] {
    padding-top: 6px;
    padding-bottom: 6px;
}
#login_fail a {
    text-decoration: none;
    border:3px solid white;
    border-radius:50em;
    color: white;
    background-color: black;
    padding:4px 39px;
    margin: 4px 4px;
    font-weight: none;
}
.blank_space {
    grid-area: blank_space;
    display:flex;
}
.footer {
    grid-area: footer;
    background-color: var(--accent-blue-02);
    display:flex;
    margin-top:30px;
    justify-content: center;
    text-align: center;
}
.footer .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: center;
}
.footer .nav a {
    text-decoration: none;
    border:3px solid var(--accent-blue-01);
    border-radius:50em;
    color: var(--accent-blue-01);
    padding: 10px 10px;
    margin: 0 4px;
    font-weight: none;
    font-size: 20px;
    background-color: var(--accent-blue-02);
}
.footer .nav a:hover, .footer .nav .active {
    background-color: white;
}



/*************************/
/* Patient Landing Page */
/************************/

#patient_landing {
    background-color: var(--accent-blue-02);
    height:100vh;
    display:grid;
    text-align: center;
    grid-template-columns:
        1fr
        816px
        1fr
    ;
    grid-gap: 0px;
    grid-template-rows:
        303px
        280px
        1fr
        1fr
    ;
    grid-template-areas: 
        ". p_header ."
        ". p_buttons ."
        ". . p_calendar"
        "p_footer . p_calendar"
    ;
}
.p_header {
    grid-area: p_header;
    background-color: #C5DEEB;
    color: black;
    justify-content: center;
}
.p_header h1 {
    margin-top: 134px;
    margin-bottom: 0px;
    font-size: 38px;
}
.p_header h2 {
    margin-top: 32px;
    margin-bottom: 63px;
    font-size: 25px;
}
.p_buttons {
    margin-top: 0px;
    grid-area: p_buttons;
    background-color: var(--accent-blue-02);
}
.p_buttons a {
    text-decoration: none;
    border:3px solid white;
    border-radius:50em;
    color: white;
    background-color: var(--accent-blue-01);
    padding: 10px 10px;
    margin-top: 0px;
    margin-bottom: 64px;
    font-weight: none;
    font-size: 25px;
}
.p_calendar {
    grid-area: p_calendar;
    background-color: white;
    border:3px solid var(--accent-blue-01);
    border-radius: 3em;
    color: black;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    margin-right: 26px;
    margin-bottom: 24px;
}
.p_footer {
    grid-area: p_footer;
    background-color: var(--accent-blue-02);
}
.p_footer .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: left;
    margin-left: 14px;
    margin-bottom: 14px;
}
.p_footer .nav a, .logout a, .back a {
    text-decoration: none;
    border:3px solid var(--accent-blue-01);
    border-radius:130em;
    color: var(--accent-blue-01);
    padding: 15px 10px;
    margin: 0px 4px;
    font-weight: none;
    background-color: white;
    font-size: 20px;
}
.p_footer .nav a {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 100px;
}
.p_footer #get_help .nav a {
    padding: 10px 10px;
}
.p_footer .nav a:hover, .p_footer .nav .active {
    background-color: var(--accent-grey-02);
}


/********************/
/***** Chatbot *****/
/******************/
#bert {
    background-color: var(--accent-blue-02);
    height:100vh;
    display:grid;
    grid-template-columns:
        1fr
        346px
    ;
    grid-gap: 0px;
    grid-template-rows:
        119px
        1fr
        1fr
        1fr
    ;
    grid-template-areas: 
        "chatbot_online open_menu"
        "chat_history chat_history"
        "predefined_responses predefined_responses"
        "text_area text_area"
    ;
}
.chatbot_online {
    grid-area: chatbot_online;
    background-color: var(--accent-blue-03);
    font-size: 30px;
    text-align: left;
}
.chatbot_online ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0 16px 0;
    padding:0;
    position: relative;
}
.chatbot_online ul li::before{
    content: "\25C9";
    color:#9CFFAA;
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
    font-size: 1em;
    left: -1.1225em;
    top:0em;
    
}
.open_menu {
    grid-area: open_menu;
    background-color: var(--accent-blue-03);
    text-align: center;;
}
.open_menu a {
    text-decoration: none;
    border:3px solid white;
    border-radius:130em;
    color: white;
    font-weight: none;
    background-color: var(--accent-red);
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 50px;
    display: inline-block;
}
.chat_history {
    grid-area: chat_history;
    max-height: 700px;
    overflow-y: scroll;
    
}
.history{
    overflow-y: scroll;
    overflow-y: visible;
}
.chat_history ul li {
    list-style: none;
    /* display: inline-block; */
    margin: 0 0 16px 0;
    padding:0;
    position: relative;
    font-size: 20px;
}
.chat_history ul li:last-child {
    scroll-snap-align: end;
}
.chat_history .patient_answer ul li::before{
    content: "\258C";
    color:#B3BFFF;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    left: -1.1225em;
    top:0em;
    
}
.chat_history .bert_answer ul li::before{
    content: "\258C";
    color:#9CFFAA;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    left: -1.1225em;
    top:0em;
    
}
.predefined_responses {
    grid-area: predefined_responses;
}
.predefined_responses .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: left;
    margin-left: 70px;
    margin-bottom: 14px;
    margin-top: 0px;
}
.predefined_responses .nav a {
    text-decoration: none;
    border:3px solid var(--accent-blue-01);
    border-radius:130em;
    color: var(--accent-blue-01);
    padding: 15px 10px;
    margin: 0px 4px;
    font-weight: none;
    background-color: white;
    font-size: 20px;
}
.predefined_responses .nav a:hover {
    background-color: var(--accent-grey-02);
}
.text_area {
    grid-area: text_area;
    background-color: var(--accent-blue-02);
}
.text_area input {
    background-color: var(--accent-blue-02);
    border:none;
    padding: 10px 10px;
    font-size: 20px;
    color: black;
    width: 100%;
}

/********************/
/* Patient Progress*/
/*******************/
#progress {
    background-color: var(--accent-blue-02);
    height:100vh;
    display:grid;
    grid-template-columns:
        320px
        320px
        320px
        320px
        320px
        320px
    ;
    grid-gap: 0px;
    grid-template-rows:
        116px
        184px
        1fr
        173px
    ;
    grid-template-areas: 
        ". . my_progress my_progress . . "
        ". data_types data_types data_types data_types ."
        ". graph graph graph graph ."
        "logout . . . . back"
    ;
}
.my_progress {
    grid-area: my_progress;
    margin-top: 0;
    margin-bottom: 0;
}
.my_progress h1 {
    text-align: center;
    margin-top: 41px;
    margin-bottom: 0px;
    font-size: 62px;
    font-weight: lighter; 
}
.data_types {
    grid-area: data_types;
    text-align: center;
}
.data_types .nav {
    list-style:none;
    padding: 0;
    display:flex;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 14px;
    margin-top: 0px;
    text-align: center;
}
.data_types .nav a {
    text-decoration: none;
    border:3px solid var(--accent-blue-01);
    border-radius:130em;
    color: var(--accent-blue-01);
    padding: 15px 10px;
    margin-top: 49px;
    margin-right: 20px;
    font-weight: none;
    background-color: white;
    font-size: 30px;
    display: inline-block;
}
.graph {
    grid-area: graph;
    background-color: var(--accent-grey-02);
    border: 3px solid var(--accent-blue-01);
    border-radius: 5em;
}
.logout {
    grid-area: logout;
    display: inline-block;
    text-align: right;

}
.logout a, .back a {
    font-size:35px;
    padding: 20px 20px;
}
.back {
    grid-area: back;
    text-align: left;
}
.logout a:hover, .back a:hover, .data_types .nav a:hover, .data_types .nav .active {
    background-color: var(--accent-grey-02);
}

/***********************/
/* Admin Landing Page */
/*********************/
#admin {
    background-color: var(--accent-blue-01);
    height: 100vh;
    display: grid;
    grid-template-columns: 
        1fr
        650px
        1fr
    ;
    grid-gap:0px;
    grid-template-rows: 
        225px
        145px
        317px
        1fr
        100px
    ;
    grid-template-areas: 
    "headspace headspace headspace"
    "a_header a_header a_header"
    ". a_buttons ."
    "blank_space blank_space blank_space"
    ". . a_footer"
    ;
}
.headspace {
    grid-area: headspace;
}
.a_header {
    grid-area: a_header;
    color: white;
    text-align: center;
}
.a_header h1 {
    font-size: 45px;
}
#logout_confirm h1 {
    font-size: 30px;
}
.a_header h3 {
    font-size: 35px;
}
.a_buttons {
    grid-area: a_buttons;
    text-align: center;
}
.a_buttons .nav {
    display: block;
    margin-bottom: 20px;
}
.a_buttons .nav a {
    margin-bottom: 50px;
    display: inline-block;
    font-size: 30px;
    background-color: black;
    padding: 20px 20px;
}
#logout_confirm .nav a {
    background-color: var(--accent-blue-04);
    border: none;
}
.a_footer {
    grid-area: a_footer;
    text-align: center;
    display: inline-block;
}
.a_footer a {
    margin-top: 50px;
    background-color: white;
    color: black;
    border: 3px solid black;
    font-size: 28px;
}

/***********/
/* Survey */
/*********/

#survey {
    background-color: var(--accent-blue-06);
    display: grid;

    grid-template-columns:
        1fr 
        378.5px 
        378.5px
        1fr 
    ;
    grid-template-rows: 
        0px
        100px
        1fr
        1fr
        1fr
        1fr
        100px
    ;
    grid-template-areas: 
    "headspace headspace headspace headspace"
    ". s_header s_header ."
    ". pre_s pre_s ."
    ". pre_s pre_s ."
    ". pre_s pre_s ."
    ". pre_s pre_s ."
    ". s_cancel s_submit ."
    ;
}
.survey_header {
    grid-area: s_header;
}
.survey_header h1 {
    font-size: 21px;
    color: white;
    margin-left: 5px;
}
.survey_header h4 {
    font-style: italic;
    margin-left: 5px;
    color: white;
    font-size: 16px;
}
.pre_session h4, .post_session h4 {
    font-size: 16px;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}
.pre_session {
    grid-area: pre_s;
    background-color: var(--accent-blue-05);
    border-radius: 3em;
    border: 3px solid white;
    color: white;
}
.post_session {
    grid-area: post_s;
    background-color: var(--accent-blue-05);
    border-radius: 3em;
    border: 3px solid white;
    color: white;
}
.pre_session form, .post_session form {
    margin-left: 20px;
}
.pre_session input, .post_session input {
    border-radius: 50em;
    border: 3px solid var(--accent-blue-04);
    background-color: var(--accent-blue-04);
    color: black;
    font-size: 12px;
    margin-bottom: 10px;
}
.checkbox {
    margin-bottom: 5px;
    margin-right: 20px;
}
#surveyBtn {
    margin-top: 50px;
    background-color: var(--accent-blue-04);
    color: black;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}
#surveyBtn :hover {
    background-color: var(--accent-blue-03);
}
.survey_cancel {
    grid-area: s_cancel;
}
.survey_submit {
    grid-area: s_submit;
}
.survey_cancel, .survey_submit {
    text-align: center;
}
.survey_cancel a, .survey_submit a {
    display: inline-block;
    margin-top: 20px;
}


/******************/
/* Data Analysis */
/****************/
#admin_progress {
    display: grid;
    background-color: var(--accent-grey-01);
    grid-template-columns: 
        1fr
        300px
        424px
        300px
        1fr
    ;
    grid-template-rows: 
        120px
        1fr
        1fr
        1fr
        1fr
        1fr
    ;
    grid-template-areas: 
        ". progress_header progress_header progress_header ."
        ". choose_site choose_site . ."
        ". graph_links graph_links graph_links ."
        ". graph_links graph_links graph_links ."
        ". combined combined combined ."
        "progress_footer progress_footer progress_footer progress_footer progress_footer"
    ;
}
.progress_header {
    grid-area: progress_header;
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.choose_site {
    grid-area: choose_site;
    font-size: 25px;
}
select {
    background-color: #767F84;
    border: 3px solid white;
    color: white;
    font-size: 25px;
}
.graph_links {
    grid-area: graph_links;
    text-align: center;
    color: white;
}
.graph_links .nav {
    display: flex;
    justify-content: center;
    color: white;
}
.graph_links .nav a {
    display: inline-block;
    border-radius: 2em;
    border: 3px solid white;
    font-size: 25px;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: var(--accent-blue-05);
    padding-top: 50px;
    color: white;
}
#admin_progress a{
    color: white;
}
.combined_data_link {
    grid-area: combined;
    display: flex;
    justify-content: center;
}
.combined_data_link a {
    display: inline-block;
    border-radius: 2em;
    font-size: 25px;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: var(--accent-blue-05);
    padding-top: 50px;
}
.progress_footer {
    grid-area: progress_footer;
}
.progress_footer .nav a {
    background-color: black;
}


/*********************/
/** Data Analytics **/
/*******************/
#data_preview {
    background-color: var(--accent-grey-01);
    display: grid;
    grid-template-columns: 
    1fr
    1fr
    1fr
    1fr
    ;
    grid-template-rows: 
    25px
    1fr
    1fr
    1fr
    200px
    1fr
    ;
    grid-template-areas: 
    "headspace headspace headspace headspace"
    ". prev_header prev_header ."
    ". stats stats ."
    ". stats stats ."
    "progress_footer progress_footer progress_footer progress_footer"
    ". . . ."
    ;
}
.prev_header {
    grid-area: prev_header;
    color: white;
    display: inline-block;
    margin-top: 70px;
}
.data_stats {
    grid-area: stats;
    justify-content: center;
    color: white;
    
}
.data_stats .data_item {
    background-color: var(--accent-grey-02);
    border-radius: 1em;
    border: 3px solid white;
    margin-bottom: 20px;
    margin-top: 0px;
}
.data_stats h3 {
    color: #36454F;
    padding: 5px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.data_stats h4 {
    color: var(--accent-blue-06);
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
#data_preview .progress_footer {
    margin-top: 50px;
}




/*********************/
/* Smaller displays */
/*******************/

@media screen and (max-width:1354px) {
    #login_wrap{
        grid-template-areas: 
        "header header header header"
        "title title title title"
        ". login_box login_box ."
        "blank_space blank_space blank_space blank_space"
        "footer footer footer footer"
    
        ;
        grid-template-columns:
        1fr 
        357px
        357px
        1fr
        ;   
        grid-template-rows:
        0px
        170px
        1fr
        1fr
        100px
        ;
    }
    .header{
        display: none;
    }
    .title h1 {
        font-weight: normal;
        font-size: 35px;
    }
    .login_box h2 {
        margin-top: 0px;
        margin-bottom: 23px;
        text-align: center;
        font-weight: lighter;
        font-size: 23px;
    }
    .login_box .login_box_input {
        width:380px;
        height: 47px;
        align-items: center;
        color: black;
        background-color: var(--accent-blue-03);
        border:none;
        margin-bottom: 23px;
        font-size: 18px;
    }
    .footer .nav a {
        text-decoration: none;
        border:3px solid var(--accent-blue-01);
        border-radius:50em;
        color: var(--accent-blue-01);
        padding: 10px 10px;
        margin: 0 4px;
        font-weight: none;
        font-size: 18px;
    }

    #patient_landing {
        background-color: var(--accent-blue-02);
        height:100vh;
        display:grid;
        grid-template-columns:
            502px 
            1fr
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            303px
            280px
            1fr
            1fr
        ;
        grid-template-areas: 
            "p_header p_header p_header"
            "p_buttons p_buttons p_buttons"
            ". . ."
            "p_footer p_footer p_footer"
        ;
    }
    .p_calendar {
        display:none;
    }
    .p_footer .nav {
        justify-content: center;
    }
    #progress {
        background-color: var(--accent-blue-02);
        height:100vh;
        display:grid;
        grid-template-columns:
            1fr
            1fr
            1fr
            1fr
            1fr
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            116px
            184px
            1fr
            200px
        ;
        grid-template-areas: 
            "my_progress my_progress my_progress my_progress my_progress my_progress "
            "data_types data_types data_types data_types data_types data_types"
            "graph graph graph graph graph graph"
            "logout logout . . back back"
        ;
    }
    .my_progress {
        grid-area: my_progress;
        margin-top: 0;
        margin-bottom: 0;
    }
    .my_progress h1 {
        margin-top: 41px;
        font-size: 40px;
    }
    .data_types .nav a {
        font-size: 25px;
    }
    .graph {
        grid-area: graph;
        border-radius: 0em;
    }
    #data_preview .graph ul {
        list-style: none;
        display: inline-block;
        margin: 0 0 16px 0;
        padding:0;
        position: relative;
        color: var(--accent-blue-01);
    }
    #data_preview .graph {
        border-radius: 3em;
    }
    .logout {
        grid-area: logout;
        text-align: right;
    
    }
    .logout a, .back a {
        font-size:25px;
        padding: 20px 20px;
        margin-top: 50px;
        display: inline-block;
    }
    .back {
        grid-area: back;
        text-align: left;
    }
    .logout a:hover, .back a:hover, .data_types .nav a:hover, .data_types .nav .active {
        background-color: var(--accent-grey-02);
    }
    #admin {
        background-color: var(--accent-blue-01);
        height: 100vh;
        display: grid;
        grid-template-columns: 
            1fr
            550px
            1fr
        ;
        grid-gap:0px;
        grid-template-rows: 
            1fr
            145px
            317px
            1fr
            100px
        ;
        grid-template-areas: 
        "headspace headspace headspace"
        "a_header a_header a_header"
        "a_buttons a_buttons a_buttons"
        "blank_space blank_space blank_space"
        "a_footer a_footer a_footer"
        ;
    }
    #survey {
        background-color: var(--accent-blue-06);
        display: grid;
    
        grid-template-columns:
            1fr 
            150px 
            150px
            1fr 
        ;
        grid-template-rows: 
            0px
            91px
            1fr
            1fr
            1fr
            1fr
            100px
            1fr
        ;
        grid-template-areas: 
        "headspace headspace headspace headspace"
        "s_header s_header s_header s_header"
        "pre_s pre_s pre_s pre_s"
        "pre_s pre_s pre_s pre_s"
        "pre_s pre_s pre_s pre_s"
        "pre_s pre_s pre_s pre_s"
        "s_cancel s_cancel s_submit s_submit"
        ". . . ."
        ;
    }
}


@media screen and (max-width:730px) {
        #login_wrap{
            grid-template-areas: 
            "header header header header"
            "title title title title"
            "login_box login_box login_box login_box"
            "blank_space blank_space blank_space blank_space"
            "footer footer footer footer"
        
            ;
            grid-template-columns:
            1fr 
            1fr
            1fr
            1fr
            ;   
            grid-template-rows:
            0px
            170px
            1fr
            1fr
            100px
            ;
        }
        .header{
            display: none;
        }
        .title h1 {
            font-weight: normal;
            font-size: 30px;
        }
        .login_box {
            border-radius: 0em;
        }
        .login_box h2 {
            margin-top: 0px;
            margin-bottom: 23px;
            text-align: center;
            font-weight: lighter;
            font-size: 20px;
        }
        .login_box .login_box_input {
            width:380px;
            height: 47px;
            align-items: center;
            color: black;
            background-color: var(--accent-blue-03);
            border:none;
            margin-bottom: 23px;
            font-size: 15px;
            width: 15em;
        }
        .footer .nav a {
            text-decoration: none;
            border:3px solid var(--accent-blue-01);
            border-radius:50em;
            color: var(--accent-blue-01);
            padding: 10px 10px;
            margin: 0 4px;
            font-weight: none;
            font-size: 15px;
        }
        #bert {
            background-color: var(--accent-blue-02);
            height:100vh;
            display:grid;
            grid-template-columns:
                1fr
                200px
            ;
            grid-gap: 0px;
            grid-template-rows:
                119px
                1fr
                1fr
                1fr
            ;
            grid-template-areas: 
                "chatbot_online open_menu"
                "chat_history chat_history"
                "predefined_responses predefined_responses"
                "text_area text_area"
            ;
        }
        .chatbot_online ul li {
            font-size: 20px;
        }
        .open_menu a {
            font-size: 18px;
            margin-top: 40px;
        }
        #survey {
            background-color: var(--accent-blue-06);
            display: grid;
        
            grid-template-columns:
                1fr 
                150px 
                150px
                1fr 
            ;
            grid-template-rows: 
                0px
                91px
                1fr
                1fr
                1fr
                1fr
                100px
            ;
            grid-template-areas: 
            "headspace headspace headspace headspace"
            "s_header s_header s_header s_header"
            "pre_s pre_s pre_s pre_s"
            "pre_s pre_s pre_s pre_s"
            "pre_s pre_s pre_s pre_s"
            "pre_s pre_s pre_s pre_s"
            "s_cancel s_cancel s_submit s_submit"
            ;
        }
        .pre_session, .post_session {
            border-radius: 0em;
            border: none;
        }
        #data_preview {
            background-color: var(--accent-grey-01);
            display: grid;
            grid-template-columns: 
            0px
            1fr
            0px
            ;
            grid-template-rows: 
            1fr
            1fr
            200px
            200px
            1fr
            200px
            3fr
            ;
            grid-template-areas: 
            "headspace headspace headspace headspace"
            ". prev_header prev_header ."
            ". stats stats ."
            ". stats stats ."
            ". . . ."
            "progress_footer progress_footer progress_footer progress_footer"
            ". . . ."
            ;
        }
        .prev_header {
            margin-top: 0px;
        }
        #data_preview .graph {
            border-radius: 0em;
        }
        #data_preview .progress_footer {
            text-align: center;
            margin-top: 0px;
        }
        #data_preview .progress_footer .nav {
            display: block;
        }
        #data_preview .progress_footer .nav a {
            display: inline-block;
        }
}

@media screen and (max-width:480px) {
    #login_wrap{
        background-color: var(--accent-grey-01);
        grid-template-areas: 
        "header header header header"
        "title title title title"
        "login_box login_box login_box login_box"
        "blank_space blank_space blank_space blank_space"
        "footer footer footer footer"
    
        ;
        grid-template-columns:
        1fr 
        1fr
        1fr
        1fr
        ;   
        grid-template-rows:
        0px
        200px
        1fr
        1fr
        100px
        ;
    }
    .header{
        display: none;
        background-color: var(--accent-grey-02);
    }
    .title h1 {
        font-weight: normal;
        font-size: 23px;
        color: white;
    }
    .login_box {
        border-radius: 0em;
    }
    .login_box h2 {
        margin-top: 0px;
        margin-bottom: 23px;
        text-align: center;
        font-weight: lighter;
        font-size: 18px;
    }
    .login_box .login_box_input {
        width:380px;
        height: 47px;
        align-items: center;
        color: black;
        background-color: var(--accent-blue-03);
        border:none;
        margin-bottom: 23px;
        font-size: 15px;
        width: 17em;
    }
    .login_box .nav a {
        font-size: 15px;
    }
    .footer .nav a {
        background-color: white;
        font-size: 12px;
    }
    #patient_landing {
        background-color: var(--accent-blue-02);
        height:100vh;
        display:grid;
        text-align: center;
        grid-template-columns:
            1fr
            300px
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            303px
            280px
            1fr
            1fr
        ;
        grid-template-areas: 
            "p_header p_header p_header"
            "p_buttons p_buttons p_buttons"
            ". . ."
            "p_footer p_footer p_footer"
        ;
    }
    .p_header {
        grid-area: p_header;
        background-color: #C5DEEB;
        color: black;
        justify-content: center;
    }
    .p_header h1 {
        margin-top: 134px;
        margin-bottom: 0px;
    }
    .p_header h2 {
        margin-top: 32px;
        margin-bottom: 63px;
    }
    .p_buttons {
        margin-top: 0px;
        grid-area: p_buttons;
        background-color: var(--accent-blue-02);
    }
    .p_buttons a {
        text-decoration: none;
        border:3px solid white;
        border-radius:50em;
        color: white;
        background-color: var(--accent-blue-01);
        padding: 10px 10px;
        margin-top: 0px;
        margin-bottom: 64px;
        font-weight: none;
        font-size: 20px;
    }
    .p_footer {
        grid-area: p_footer;
        background-color: var(--accent-blue-02);
        text-align: center;
    }
    .p_footer .nav {
        list-style:none;
        padding: 0;
        display:flex;
        justify-content: center;
        margin-left: 14px;
        margin-bottom: 14px;
    }
    .p_footer .nav a {
        text-decoration: none;
        border:3px solid var(--accent-blue-01);
        border-radius:130em;
        color: var(--accent-blue-01);
        padding: 15px 10px;
        margin: 0px 4px;
        font-weight: none;
        background-color: white;
    }
    .p_footer #get_help .nav a {
        padding: 10px 10px;
    }
    .p_footer .nav a:hover, .footer .nav .active {
        background-color: var(--accent-grey-02);
    }
    #bert {
        background-color: var(--accent-blue-02);
        height:100vh;
        display:grid;
        grid-template-columns:
            1fr
            150px
        ;
        grid-gap: 0px;
        grid-template-rows:
            119px
            1fr
            1fr
            1fr
        ;
        grid-template-areas: 
            "chatbot_online open_menu"
            "chat_history chat_history"
            "predefined_responses predefined_responses"
            "text_area text_area"
        ;
    }
    .chatbot_online ul li {
        font-size: 18px;
    }
    .open_menu a {
        font-size: 15px;
        margin-top: 40px;
    }
    .chat_history ul li {
        font-size: 15px;
    }
    .predefined_responses .nav {
        margin-left: 10px;
    }
    .predefined_responses .nav a {
        font-size: 15px;
    }
    .text_area input {
        font-size: 15px;
    }

    #progress {
        background-color: var(--accent-blue-02);
        height:100vh;
        display:grid;
        grid-template-columns:
            1fr
            1fr
            1fr
            1fr
            1fr
            1fr
        ;
        grid-gap: 0px;
        grid-template-rows:
            100px
            100px
            1fr
            200px
        ;
        grid-template-areas: 
            "my_progress my_progress my_progress my_progress my_progress my_progress "
            "data_types data_types data_types data_types data_types data_types"
            "graph graph graph graph graph graph"
            "logout logout logout back back back"
        ;
    }
    .my_progress {
        grid-area: my_progress;
        margin-top: 0;
        margin-bottom: 0;
    }
    .my_progress h1 {
        margin-top: 41px;
        font-size: 40px;
    }
    .data_types {
        text-align: left;
    }
    .data_types .nav {
        list-style:none;
        padding: 0;
        display:flex;
        justify-content: left;
        margin-left: 5px;
        margin-bottom: 14px;
        margin-top: 0px;
        text-align: center;
    }
    .data_types .nav a {
        text-decoration: none;
        border:3px solid var(--accent-blue-02);
        border-radius: 5em;
        color: var(--accent-blue-01);
        padding: 4px 4px;
        margin-top: 20px;
        margin-right: 5px;
        font-weight: none;
        background-color: var(--accent-blue-02);
        font-size: 15px;
        display: inline-block;
    }
    .data_types .nav a:hover {
        color: white;
        border:3px solid white;
    }
    .data_types .nav .active {
        border:3px solid white;
    }
    .graph {
        grid-area: graph;
        border-radius: 0em;
    }
    .logout {
        grid-area: logout;
        text-align: right;
    
    }
    .logout a, .back a {
        font-size:25px;
        padding: 20px 20px;
        margin-top: 50px;
        display: inline-block;
    }
    .back {
        grid-area: back;
        text-align: left;
    }
    .logout a:hover, .back a:hover, .data_types .nav a:hover, .data_types .nav .active {
        background-color: var(--accent-grey-02);
    }
    #admin {
        background-color: var(--accent-blue-01);
        height: 100vh;
        display: grid;
        grid-template-columns: 
            1fr
            300px
            1fr
        ;
        grid-gap:0px;
        grid-template-rows: 
            1fr
            145px
            350px
            1fr
            100px
        ;
        grid-template-areas: 
        "headspace headspace headspace"
        "a_header a_header a_header"
        "a_buttons a_buttons a_buttons"
        "blank_space blank_space blank_space"
        "a_footer a_footer a_footer"
        ;
    }
    .a_header h1 {
        font-size: 35px;
    }
    .a_header h3 {
        font-size: 30px;
    }
    .a_buttons .nav a {
        font-size: 25px;
    }

    .pre_session input, .post_session input {
        font-size: 12px;
    }
    #survey {
        background-color: var(--accent-blue-06);
        display: grid;
    
        grid-template-columns:
            1fr 
            140px 
            140px
            1fr 
        ;
        grid-template-rows: 
            0px
            160px
            1fr
            1fr
            0px
            1fr
            1fr
            100px
        ;
        grid-template-areas: 
        "headspace headspace headspace headspace"
        "s_header s_header s_header s_header"
        "pre_s pre_s pre_s pre_s"
        "pre_s pre_s pre_s pre_s"
        "blank_space blank_space blank_space blank_space"
        "post_s post_s post_s post_s"
        "post_s post_s post_s post_s"
        "s_cancel s_cancel s_submit s_submit"
        ;
    }
    .pre_session, .post_session {
        border: none;
    }
    #data_preview {
        background-color: var(--accent-grey-01);
        display: grid;
        grid-template-columns: 
        0px
        1fr
        0px
        ;
        grid-template-rows: 
        1fr
        1fr
        200px
        200px
        1fr
        200px
        1fr
        ;
        grid-template-areas: 
        "headspace headspace headspace headspace"
        ". prev_header prev_header ."
        ". stats stats ."
        ". stats stats ."
        ". . . ."
        "progress_footer progress_footer progress_footer progress_footer"
        ". . . ."
        ;
    }
    .prev_header {
        margin-top: 0px;
    }
    #data_preview .graph {
        border-radius: 0em;
    }
    #data_preview .progress_footer {
        text-align: center;
        margin-top: 0px;
    }
    #data_preview .progress_footer .nav {
        display: block;
    }
    #data_preview .progress_footer .nav a {
        display: inline-block;
    }
}